asgiref
chardet
colorama
Django==5.0.6
djangorestframework
djangorestframework-simplejwt
drf-nested-routers
drf-yasg
inflection
packaging
Pillow
psycopg2-binary
PyJWT
python-dateutil
pytz
PyYAML
reportlab
qrcode
python-barcode
setuptools
six
sqlparse
tzdata
uritemplate
xmltodict
python-dotenv
celery
redis
django-redis
gunicorn
dj-database-url
