EGS_BASE_URL=https://app.egssistemas.com.br
EGS_LOGIN_URL=https://app.egssistemas.com.br/login
EGS_USERNAME=DESTACK
EGS_PASSWORD=1234567
EGS_ACCESS_KEY=57226

DESTACK_API_URL=http://localhost:8000/api
DESTACK_USERNAME=admin
DESTACK_PASSWORD=admin123

COLLECT_INTERVAL_MINUTES=60
DAYS_LOOKBACK=7
SELENIUM_HEADLESS=false
LOG_LEVEL=INFO


